body{
    background-color: orangered;
}
h1{ color: white;
    font-size: 300%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h4{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button2{
    font-weight: 500;
    height: 40px;
    width: 100px;
    border-radius: 12%;
    color: orangered;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    position: relative;
    top: 0%;
    left: 65%;
    color: white;
    display: flexbox;
    font-weight: 500;
    font-size: 130%;
    margin-right: 2%;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button1{
    position: relative;
    top: 0%;
    left: 64%;
    font-weight: 500;
    height: 40px;
    width: 100px;
    border-radius: 12%;
    color: orangered;
    background-color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    float: right;
    height: 400px;
    width: 600px;
}